{
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "css", "html", "reactjs"],
                "plugins": ["line-numbers"],
                "theme": "okaidia",
                "css": true
            }
        ]
    ]
}
